
.text-cs {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.card {
  background-color: var(--container-color);
  overflow: hidden;
  text-align: left;
  position: relative;
} 

.card-one {
  padding: 30px 35px;
  border-radius: 18px;
}

.card-two {
  background-color: rgba(238, 238, 238, 0.625);
  padding: 30px;
  border-radius: 20px;
}

.link {
  display: inline-flex;
  align-items: center;
  color: var(--title-color);
  font-size: var(--small-font-size);
  font-weight: 700;
  
}

.link__icon {
  color: var(--text-color);
  margin-left: 20px;
  transition: all 0.3s var(--transition);
}

.link:hover .link__icon {
  margin-left: 15px;
}

.containerPortfolio{
  max-width: 1300px;
  padding-inline: 12px;
  margin-inline: auto;
}

/* .portfolioPage {
  
} */

.portfolioPage__list-item {
  color: var(--text-color);
  font-size: var(--small-font-size);
  font-weight: 700;
  padding: 10px 0 10px 0 ;
  position: relative;
  transition: all 0.7s var(--transition);
  background-color: transparent;
}

.portfolioPage__list-item::before {
  content: '';
  width: 0px;
  height: 2px;
  max-width: 60%;
  background-color: var(--text-color);
  position: absolute;
  top: 30px;
  left: 0;
  transition: all 0.3s var(--transition);
}

.active-work {
  color: var(--title-color-dark);
}

.active-work::before, 
.portfolioPage__list-item:hover::before {
  width: 40px;
}

.portfolioPage__list {
  display: flex;
  justify-content: center;
  column-gap: 40px;
  margin-bottom: 60px;
}

.portfolioPage__container{
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;

}

.portfolioPage__img-wrapper {
  border-radius: 18px;
  overflow: hidden;
}

.portfolioPage__img {
  height: 240px;
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
  transition: all 0.6s var(--transition);
}

.portfolioPage__items:hover .portfolioPage__img {
  transform: scale(1.04);
}

.portfolioPage__category {
  color: var(--text-color);
  font-size: var(--smaller-font-size);
  font-weight: 700;
  margin-bottom: 5px;
  display: block;
}

.portfolioPage__category,
.portfolio__description {
  margin-top: 30px;
}

.portfolioPage__title {
  font-size: var(--h3-font-size);
  margin-bottom: 10px;
} 

.portfolioPage__description {
  min-height: 125px;
  margin-bottom: 10px;
}

.porfolioPage__back-btn{
  position: relative;
  transform: scale(0.5);
  transition: all 0.3s var(--transition);
  font-size: 30px;
}

.button__icon-arrow {
  display: block;
  font-size: 40px;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .portfolioPage__container {
    grid-template-columns: repeat(2, 1fr);

  }

  .portfolioPage__list-item {
    font-size: 12px;
  }

  .porfolioPage__back-btn{
    scale: 0.9;
    margin-left: 10px;
  }
}

/* For medium devices */
@media screen and (max-width: 576px) {
  .portfolioPage__container {
    grid-template-columns: 1fr;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .portfolioPage__title {
    font-size: 28px;
  }
  
  .portfolioPage__list-item {
    font-size: 10px;
  }
}